:root {
    --Linear-Gradient: hsl(236, 72%, 79%),hsl(237, 63%, 64%);
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

li {
    list-style: none;
    padding-top: 10px;;
    padding-bottom: 10px;
}

hr {
    height: 0.5px;
    border: none;
    background-color: var(--Light-Grayish-Blue);
}

.background-container {
    background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
    background-position: right top, left bottom;
    background-color: var(--Very-Light-Grayish-Blue);
    background-repeat: no-repeat, no-repeat;
    text-align: center;
    padding-top: 60px;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: var(--Grayish-Blue);
    font-size: 15px;
}

.heading-1 {
    color: var(--Grayish-Blue);
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    margin-bottom: 35px;
}    

.annual-monthy-container {
    color: var(--Light-Grayish-Blue);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}


.prices-container {
    background-color: #fff;
    height: 360px;
    width: 290px;
    padding: 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-top: 35px;
}

.prices-container:hover {
    background-image: linear-gradient(to bottom, var(--Linear-Gradient));
    height: 380px;
    width: 270px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 39px;
    color: var(--Very-Light-Grayish-Blue);
    border-radius: 8px;
    position: relative;
    bottom: 18px;
}

.prices-container:hover > .button-plans {
    background-image: linear-gradient(#fff, #fff);
    width: 270px;
    height: 38px;
    border-width: 0px; 
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 200;
    border-radius: 5px;
    color: hsl(237, 63%, 64%);
    cursor: pointer;
}

.prices-container:hover > .list-container{
    color: var(--Very-Light-Grayish-Blue);
}

.plans-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.list-container {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 60px;
    color: var(--Dark-Grayish-Blue);
}

.dollar-size {
    font-size: 33px;
    padding-top: 12px;
    padding-right: 8px;
}


.button-plans {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    width: 290px;
    height: 38px;
    border-width: 0px; 
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 11px;
    font-weight: 200;
    border-radius: 5px;
}

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 15px;
  margin-left: 15px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: hsl(237, 63%, 64%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(237, 63%, 64%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hide-container {
    display: none;
}